# https://jasonstitt.com/gitignore-whitelisting-patterns
# Ignore everything
*
# But descend into directories
# !*/
# VIM
!/.vimrc
!/.vim/**
!/.vim/**/**
# But not history
.vim/.netrwhist
# Tmux
!/.tmux.conf
# Gitignore
!.gitignore
