# https://jasonstitt.com/gitignore-whitelisting-patterns
# Ignore everything
*
# But descend into directories
# !*/
# VIM
!/.vimrc
!/.vim/**
# But not history
.vim/.netrwhist
# Tmux
!/.tmux.conf
!/.tmuxcheat
# Gitignore
!.gitignore
# ZSH
!.zshrc
!/.oh-my-zsh
!/.oh-my-zsh/**
